body {
    font-family: "Josefin Sans", sans-serif;
    /*position: relative;*/
    height:100%;
    margin: 0;
    background-color: #fff1e6f6;
    box-sizing: border-box;
    
}

.new-grid-container {
    display:grid;
    height: 100%;
    grid-template-areas:
    'nav'
    'container'
    'footer'
}

.index-grid-container {
    display:grid;
    grid-template-columns: auto;
    grid-template-areas:
    'index-container index-container index-space'
}

.block-content-container {
    grid-area: container;
}



/* Fonts */

.h1, .h2{
    font-family: 'anton';
    color: #00755e;
    font-style:bold;
}

.p {
    font-family: 'antonio';
    color: #0f1312;  
    font-size: 20px;
}
.landing-page p {
    font-family: 'allura';
    font-size: 3rem;
    color: #8dc6a5;
}

.h1-landing-page {
    font-family: 'antonio';
    color: #cc9da9;
}

/* här börjar 'navbar' */

#h2 {
    font-family: "Neonderthaw";
    background: -webkit-linear-gradient(#439d7e,#AAD9CD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem; 
}

.sidebar {
    margin:0;
    overflow: hidden;
    width: 30px;
    padding:20px;
    border-bottom-width: 1px;
    background-color: white;
}

.navbar {
    grid-area: nav;
    display: flex!important;
    position: relative;
    justify-content: flex-end!important;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    background-color: #E1D1E2; 
}

.nav-link {
    color: #517371!important;
}

.nav-link:hover {
    opacity: 0.5;
}

#nav-h2 {
    font-family: "Neonderthaw";
    font-size: 30px;
    color: #96c68d;
}

.nav_link {
    transition: all 0.3s;
}

.nav_link:hover {
    border-style: solid;
    border-radius: 4px;
    background: -webkit-linear-gradient(#d5e1ac,#e3e6a1);
    padding: 4px;
    font-size: 1.0rem;
}

.navbar p {
    position: absolute;
    z-index: 1;
    top: 60%; 
    color:#000000;
    font-size: 13px;
}

.navbar ul {
    z-index: 1;
    list-style: none;
    margin-left: 0; /* Push the content to the right */
}

.navbar ul li {
    z-index: 1;
    margin-left: 20px;
    color: #070707;
}

.navbar ul li a {
    color: #f7d386;
    text-decoration: none;
    margin-left: 0;
}

#header {
    box-shadow:0px 4px 6px rgba(0, 0, 0, 0.1) ;
    background-color: #f6fcfb;
}

#custom-cards {
    
    background-color: f6fcfb;
    width: 100%;}



/* Här är bakgrundsbild (video/herobild) */
.background-video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin:auto;
    overflow: hidden; /* Se till att videon inte spill över utanför ramen */
}

.video-wrapper {
    position: relative;
    width: 100%; /* Videowrappern tar upp hela förälderelementets bredd */
    height: 90%; /* Ange den önskade höjden för videon */
    margin-top: 0%;
    border-style: none;
}

.video-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Sätt videons bredd till 100% av videowrappern */
    height: 100%; /* Sätt videons höjd till 100% av videowrappern */
    object-fit: cover; /* Se till att videon täcker hela videowrappern utan att förvränga proportionerna */
    border-radius: 5px;
    box-shadow: 2px 4px 20px 4px rgb(250, 249, 249);
}

/* Här börjar sektion 'hero' */
.hero { 
    box-sizing: border-box;
    position: relative;
    z-index: 2; 
    margin: auto;
    top: 200px;
    padding-bottom: 20px;
    text-align: center;
    max-width: 700px;
    height: 400px;
    border-radius: 15px;
    margin-bottom:25rem;
}

.hero h1 {
    font-family: "Neonderthaw";
    font-size: 7.0rem;
    background: -webkit-linear-gradient(#d3abd4,#98609a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero a {
    color: whitesmoke;
}

.hero a:hover {
    color: #98609a;
}

#reg-button {
    color:white;
    background-color: #c48dc6;
    border-color: whitesmoke;
} 

#reg-button:hover {
    background: -webkit-linear-gradient(#c48dc6,#98609a)
}

  .landing-page {

    background-image: url(https://images.pexels.com/photos/167092/pexels-photo-167092.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    margin:20px;
    padding: 50px;
    width: 100vw;
    border-radius: 5px;
    overflow:hidden;
    position: center;
    background-size: cover;
}

.landing-sidebar {
    background-color:white;
}

.landing-main{
    background-color: #f7ddc6;
    box-shadow:16px 12px 14px 17px white;
    
    /* Gradient background */
    background-image: linear-gradient(to bottom right,#55a591, #f7faf7 );
    background-position: center; 
    background-repeat: no-repeat;
margin-bottom:0;
}

#side-img {
    border-radius: 20px;
    padding: 0;
    margin:auto;
    max-width: 100%;
}


#profile_page {
    width: 100%;
    height: 80%;
}

.btn-primary{
    text-decoration: none;
    text-align: center;
    background-color: #00755e;
    transition: all 0.3s;
}

.btn-primary:hover {
    border-radius: 10px;
    background-color: #00755e;
}


/* styling for logged in */
#user_image {
    width: 50px;
    border-radius: 50%;
    margin: auto;
}

/* styling for modal*/
.modal-backdrop {
    --bs-backdrop-zindex: 1 !important;
    --bs-backdrop-bg: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-backdrop-zindex);
    width: 100vw;
    height: 100vh;
    background-color: var(--bs-backdrop-bg);
}

.modal-dialog {
    width: 80vw;
    height: 80vw;
    max-width: 500px; 
    max-height: 500px; 
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.modal-header {
    background-color: #f1ebe1;
    color: white;
    padding: 1rem 1.5rem;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:none;
}

.modal-header h1 {
    font-size: 1.5rem;
    margin: 0;
}

.modal-header .btn-close {
    filter: brightness(0) invert(1);
}

.modal-body {
    padding: 2rem 1.5rem;
    background-image: linear-gradient(to bottom, rgb(218, 195, 160), rgb(226, 132, 54));
    background-size: cover;
    background-position: center;
    color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.modal-body .lead {
    font-size: 1.25rem;
}

.modal-body .fw-bold {
    font-weight: bold;
    margin-top: 1rem;
}

.modal-footer {
    background-color: #f1f1f1;
    padding: 1rem 1.5rem;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    align-items: center;
    margin:auto;
}

.btn-secondary {
    background-color: #fdc882;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #fff9a5;
}

#modal-button {
    color: white;
    background-color: #eeba66;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 40%;
}

#modal-button:hover {
    background-color: #ffddae;

}

/* End of modal styling */


/* End of modal styling */


/*Playlist styling*/
#pl-main {
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(249, 199, 240));
    padding-bottom: 120px;
}

.hidden-form {
    display: inline;
}

.playlist_link {
    display: block;
    text-decoration: none;
    transition: 0.3s;
    color: rgb(197, 196, 196);
    font-size: large;
    
}

.playlist_link:hover {
    font-size: 300%;
    text-shadow: 1px 1px 10px;
    color:-webkit-linear-gradient(#efaff4,#873281);
}

.playlist_list {
    position: relative;
    width: 100%;
}

.pl-container {
    margin-left:25%;
    margin-right: 25%;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #aaced951;
    border-radius: 8px;
    background-color: rgba(245, 245, 245, 0.426);

}
.playlist_container {
    list-style-type: none;
    padding: 2%;
    margin: 2%;
    width: 95%;
    border-radius: 5px;
}

.playlist-box{
    margin:10%;
    padding:5%;
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 20px;
}

.h1-playlist {
    color: #AACED9;
    font-family: 'Allura';
    font-size: 300%;
}

#h5-playlist {
    color: #C0d8c0 !important;
    font-family: 'Helvetica';
}

/* Playlist_page */
#p-page-body {
    background: linear-gradient(0deg, rgba(149,199,194,1) 0%, rgba(255,255,255,1) 100%); 
}

.text-center {
    font-family: 'Helvetica';
    color: black;
}

#buttons {
    display: flex;
    flex-direction: column;
    width: 13%;
    padding-bottom: 10px;
    padding-left: 10px;
    gap: 10px;
}

#spotify {
    background-color: #C0d8c0;
    border-style: solid;
    border-color: #b4cbb4;
}

#delete {
    background-color: #f49f51;
    border-style: solid;
    border-color: #e0924a;
}

.album-img{
    width: 40%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: auto;
    margin-right: 10px;
    border-radius: 20%;
}

.row {
    display: flex;
    flex-wrap: wrap; /* Tillåter rader att brytas vid behov */
}

.col-4, .col-8 {
    padding: 0 15px; /* Justerar standard padding */
}

.col-8 {
    display: flex;
    flex-direction: column; /* Arrangerar texten vertikalt */
}
/* Playlist_page end*/

.gen-button {
    color: white;
    background: #cc9da9;
    border-color: whitesmoke;
}
.gen-button:hover {
    background: -webkit-linear-gradient(#cc9da9,#faf4e9);
  }

  #generate_playlist {
    background: -webkit-linear-gradient(#f1e1ad,#eea76a);
    margin:auto;
    width: 80%;
  }

  
  #gen-playlist {
    height: 100%;
    margin: auto;
    padding:10%;
    background-image:url(https://images.pexels.com/photos/1047442/pexels-photo-1047442.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}




  #down {
    color:rgb(97, 2, 78);
}

#down:hover {
    color:#cda8e1;
}

#recco-tracks {
    background-color: #59ad8f56;
    color: white;
    border-radius: 20px;
    padding: 2%;
    margin:auto;
}

.track-link {
    text-decoration: none;
    color:white;
    padding:2%;
    list-style:none!important;
    text-decoration: none!important;
    margin:0 !important;
    padding-left :0 !important;
    font-size: 1rem; 
}

.track-link:hover {
    color: rgb(153, 212, 153);
}



/* styling for modal ends #show-playlist {
    background-image: url(https://media.istockphoto.com/id/1397174550/sv/foto/african-man-in-vr-headset-falling-in-studio.jpg?s=2048x2048&w=is&k=20&c=3OcfIoF8bwBwePvKD7EvQCsKWoy4tKUhwcm6xlfBlqo=) !important;
    border-radius: 20px;
    margin:auto;
}

/*Generate playlist*/

.reccos {
    background: -webkit-linear-gradient(#c48dc6,#90d4be);
    border-radius: 5px;
}

#recco-box {
    background: rgb(201, 231, 201);
    box-shadow: 2px 4px 20px 4px rgb(250, 249, 249);
    font-family: 'alexandria';
    border-radius: 20px;
    color:white;
}

.form-check-input {
    background-color:#873281!important;
    border-color: whitesmoke!important;
}

#search_value {
    background-color:#873281!important;  
}

#search_value:hover {
    background-color:#d094cc!important;  
}

#searches {
    background: rgb(201, 231, 201);
    box-shadow: 2px 4px 20px 4px rgb(250, 249, 249);
    font-family: 'alexandria';
    border-radius: 20px; 
    color:white; 
}

.playlist-page {
    background-color: #ddebe6;
    font-family: 'alexandria';
    color:white;
}

.pl-page-button {
    color: white!important; 
    background-color: #8dc6b0!important;  
    border-color: whitesmoke;
}

.pl-page-button:hover {
    background: -webkit-linear-gradient(#b6d8ca,#90d4be)!important;  
}

.play-btn {
    color: #fff;
}

.play-btn:hover {
    color: #fff;
}

/* Rekomenderade låtar */
.card-body a {
  font-family:"antonio"
}




.card-body:hover {
    background-color: #8dc6a5;
    opacity: 1;
    transition: 0.5;
}


.box {
    --mask:
      radial-gradient(4.47rem at 50% calc(100% - 6rem),#000 99%,#0000 101%) calc(50% - 4rem) 0/8rem 100%,
      radial-gradient(4.47rem at 50% calc(100% + 4rem),#0000 99%,#000 101%) 50% calc(100% - 2rem)/8rem 100% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
           
        }
  


 .top-artist{
    background: -webkit-linear-gradient(#ffffff,#90d4be);
 }

/* Dropdown Button */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The search field */
#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {
    outline: 3px solid #ddd;
}

/* The container <div> - needed to position the dropdown content */
.genre-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: relative;
    background-color: #f6f6f6;
    width: 100%;
    border: 1px solid #ddd;
    z-index: 1;
    max-height: 400px;
    overflow-y: auto;
}

/* Links inside the dropdown */
.dropdown-content .genre-item {
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

/* Change color of dropdown links on hover */
.dropdown-content .genre-item:hover {
    background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;

}

.dropdown-container.show-content {
    margin-top: 400px;
}

#selectedGenresContainer {
    margin-top: 20px;
}

#selectedGenresList {
    list-style-type: none;
    padding: 0;
}

#selectedGenresList li {
    background-color: #04AA6D;
    color: white;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: block;
}


#alert{
    background-color: #cc9da9d1;
    border-color: #000000;
    margin:auto;
}