<!DOCTYPE html>
<html lang="sv">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rhythm Roulette</title>
        <link rel="about" href="#">
        <link rel="about" href="signup.html">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <script src="static/script.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link
            href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Anton&family=Antonio:wght@100..700&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Gabarito:wght@400..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Tilt+Warp&display=swap"
            rel="stylesheet">
            
            <link href="https://fonts.googleapis.com/css2?family=Allura&family=Neonderthaw&display=swap" rel="stylesheet">
        <link href="modals.css" rel="stylesheet">
    </head>
    <body>

        <header class="d-flex flex-wrap justify-content-center py-3 border-bottom" id="header">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
              <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
              <span class="fs-4"><h2 id="h2">Rhythm Roulette</h2></span>
            </a>
        </header>
<div class="container-fluid text-center py-5 about">

    <h1 class="text-center" id="about-h1">Vi är Rhythm Roulette</h1>
    <p id="about-p">Rhythm Roulette är en applikation för den musikintresserade, <br>
        där användaren kan hitta ny musik och gamla favoriter genom <br>
        att själv slumpa en spellista som kan filtreras i både genre och årtionden.</p>
    <div class="d-flex justify-content-center">
        <ul class="nav flex-row">
            <li class="about-nav-item"><p class="p">Arissa Rakluea</p></li>
            <li class="about-nav-item"><p class="p">Bianca Rydenhov</p></li>
            <li class="about-nav-item"><p class="p">Ines Suhonjic</p></li>
            <li class="about-nav-item"><p class="p">Sofie Friholm</p></li>
            <li class="about-nav-item"><p class="p">Tobias Björklund</p></li>
        </ul>
    </div>

</div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
        <p class="col-md-4 mb-0 text-muted">&copy; 2024 Rhythm Roulette</p>
        <a href="/"
            class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap" />
            </svg>
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
        </ul>
    </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
	<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
   