    <!DOCTYPE html>
    <html lang="sv">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rhythm Roulette</title>
        <link rel="about" href="#">
        <link rel="about" href="signup.html">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="shortcut icon" type="logotype" href="roulette.png">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="static/script.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link
            href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Anton&family=Antonio:wght@100..700&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Gabarito:wght@400..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Tilt+Warp&display=swap"
            rel="stylesheet">
        <link href="modals.css" rel="stylesheet">
    </head>

    <body class="bg-dark bg-gradient">
        <div class="grid-container">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
                <div class="container-fluid">
                <a class="navbar-brand w-icon" href="/">Rhythm Roulette</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
            
                {% if 'logged_in' in session %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" role ="button" data-bs-toggle="dropdown" aria-expanded="false">Skapa spellista här!</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{url_for('generate_playlist')}}">Baserat på genres</a></li>
                        <li><a class="dropdown-item" href="{{url_for('generate_playlist_year')}}">Baserat på årtal</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                    <li class="nav-item">
                    <a class="nav_link text-white" href="{{url_for('users')}}">Sök på användare!</a></li>
                    <li class="nav-item"><a class="nav_link text-white" href="{{url_for('profile_page')}}">Din profil</a></li>
                    <li class="nav-item"><a class="nav_link text-white" href="{{url_for('get_top_artists')}}">Dina toppartister!</a></li>
                    <li class="nav-item"><a class="nav_link text-white" href="{{url_for('get_playlist')}}">Spellistor</a></li>
                    <li class="nav-item"><a class="nav_link text-white" href="{{url_for('logout')}}" class="btn btn-danger"> Logga ut</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav_link text-white" href="{{url_for('signup')}}">Registrera dig</a></li>
                    <li class ="nav-item"><a class="nav_link text-white" href="{{url_for('login')}}">Logga in</a></li>
                    {% endif %}
            </ul>
        
        </div>
        </nav> 
        </div>



            {% block content %}

            {% endblock %}
            
            <footer>
                <p>&copy; 2024 Rhythm Roulette Website. All rights reserved. <a href="about.html">Om oss</a></p>
            </footer>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>

    </html>