<!DOCTYPE html> 
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rhythm Roulette</title>
    <link rel="about" href="#">
    <link rel="about" href="signup.html">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" type="logotype" href="roulette.png">
    <script src="{{ url_for('static', filename='script.js')}}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Anton&family=Antonio:wght@100..700&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Gabarito:wght@400..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Tilt+Warp&display=swap" rel="stylesheet">
</head>
<body>
    <div class="grid-container">
    <nav>
        <div class="navbar">
            <a href="/" class="w-icon">Rhythm Roulette</a>
            <p>Ett projektarbete på Malmö Universitet</p>
            <ul>
                {% if 'logged_in' in session %}
                    <li><a  href="generate-playlist">Skapa spellista!</a></li>
                    <li> | </li>
                    <li><a  href="recommendations">Rekommendationer</a></li>
                    <li> | </li>   
                    <li><a href="logout" class="btn btn-danger"> Logga ut</a></li>
                {% else %}
                    <li><a href="signup.html">Registrera dig</a></li>
                    <li><a href="login">Logga in</a></li>
                {% endif %}
        </ul>
        </div>
    </nav>

    {% block content %}

    {% endblock %}

    <footer>
        <p>&copy; 2024 Rhythm Roulette Website. All rights reserved. <a href="about.html">Om oss</a></p>
    </footer>
    </div>
</body>
</html>