<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rhythm Roulette</title>
    <link rel="about" href="#">
    <link rel="about" href="signup.html">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" type="logotype" href="roulette.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="static/script.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Anton&family=Antonio:wght@100..700&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Gabarito:wght@400..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Tilt+Warp&display=swap"
        rel="stylesheet">
    <link href="modals.css" rel="stylesheet">
</head>

<body class="bg-dark bg-gradient">
    <div class="grid-container">
        <nav>
            <div class="navbar">
                <a href="/" class="w-icon">Rhythm Roulette</a>
                <p>Ett projektarbete på Malmö Universitet</p>
                <ul>
                    {% if 'logged_in' in session %}
                    <li><a class="nav_link" href="top-artists">Dina toppartister!</a></li>
                    <li> | </li>
                    <li><a class="nav_link" href="generate-playlist">Skapa spellista!</a></li>
                    <li> | </li>
                    <li><a class="nav_link" href="logout" class="btn btn-danger"> Logga ut</a></li>
                    {% else %}
                    <li><a class="nav_link" href="signup">Registrera dig</a></li>
                    <li><a class="nav_link" href="login">Logga in</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        {% block content %}

        {% endblock %}

        <footer>
            <p>&copy; 2024 Rhythm Roulette Website. All rights reserved. <a href="about.html">Om oss</a></p>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>