{% extends "base.html" %}
{% block title %}Write Bio{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                <div class="text-center">
                    <h1 class="fw-bold text-white">{{msg}}</h1>
                </div>
                {% endfor %}    
            {% endif %}
    {% endwith %}
    <div class="container m-5 w-50 mx-auto">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" action="#" method="post">
            <div class="form-floating mb-3">
                <h2 class="h2">Berätta lite om dig själv..</h2>
                <div class="mb-3">

                      <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label"><p class="p">Skriv din biografi:</p></label>
                        <textarea class="form-control" id="bio exampleFormControlTextarea1" rows="3" name="bio"></textarea>
                      </div>
                     </div>
<button class="btn btn-outline-secondary gen-button btn-lg" name ='write_bio' type="submit" value="submit">Spara</button>
               
            </div>
        </form>
</div>
{% endblock %}