{% extends "base.html" %}
{% block title %}Generate template{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                <div class="text-center">
                    <h1 class="h1">{{msg}}</h1>
                </div>
                {% endfor %}    
            {% endif %}
    {% endwith %}
    <div class="container m-8 mt-5" id="gen-playlist">
        <div class="col">
            <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" id="generate_playlist" action="#" method="post">
                <div class="form-floating mb-3">
                    <h2 class="h2 text-center">Berätta om spellistan!</h2>
                    <div class="mb-3">
                        <p>Spellistans namn:</p>
                        <input type="text" class="form-control" id="playlist_name" name="playlist_name"
                            placeholder="My Beautiful Dark Twisted Playlist" required>
                    </div>
                    <div class="mb-3">
                        <p>Kort beskrivning:</p>
                        <input type="text" class="form-control" id="playlist_description" name="playlist_description"
                            placeholder="Du blir dig aldrig lik igen">
                    </div>
                </div>
                <p class="p text-center ">Generera baserat på:</p>
                <div class="row">
                    <div class="col-6">
                        <button class="w-100 btn btn-lg btn-light btn-outline-secondary gen-button" name ='generate-method' type="submit" value="genres">Genres</button>
                    </div>
                    <div class="col-6">
                        <button class="w-100 btn btn-lg btn-light btn-outline-secondary gen-button" name ='generate-method' type="submit" value="years" >Årtal</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}