{% extends "base.html" %}
{% block title %}Generate template{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <div class="text-center">
                <h1 class="fw-bold">{{msg}}</h1>
            </div>
            {% endfor %}    
            {% endif %}
{% endwith %}
<div class="container m-5">
    <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" id="generate_playlist" action="#" method="post">
        <div class="form-floating mb-3">
            <p class="lead text-secondary fw-bold text-center">Berätta om spellistan!</p>
            <div class="mb-3">
                <p>Spellistans namn:</p>
                <input type="text" class="form-control" id="playlist_name" name="playlist_name" placeholder="My Beautiful Dark Twisted Playlist">  
            </div>

            <div class="mb-3">
                <p>Kort beskrivning:</p>
                <input type="text" class="form-control" id="playlist_description" name="playlist_description" placeholder="Du blir dig aldrig lik igen">
            </div>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" value="submit">Skapa!</button>
        <hr class="my-4">
        </form>
    </div>
</div>
{% endblock %}