{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}

<header class="header">
    <div class="background-video">
        <div class="video-wrapper">
            <video loop muted autoplay playsinline poster="URL/TO/poster.jpg">
                <source src="{{ url_for('static', filename='pictures/waves3.mp4')}}" type="video/mp4">
            </video>
        </div>
        </div>
        <div class="hero">
            <h1>Rhythm Roulette</h1>
            <div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for msg in messages %}
                            <div class="text-center">
                                <p class="fw-bold lead">{{msg}}</h1>
                            </div>
                        {% endfor %} 
                    {% endif %}
                {% endwith %}
            </div>
            {% include 'modal_template.html' %}
            <!--<button class="btn btn-success rounded-pill px-3 nav_link btn-primary" type="button" data-toggle="modal" data-target="staticBackdrop" id="staticBackdrop">Registrera dig!</button>-->
        
            <!--OBSOBSOBS! Denna buttton ska trigga modalen! -->
            {% if 'logged_in' not in session %}
            <div class="col-lg-6 col-xxl-4 my-5 mx-auto">
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="reg-button" title="När du loggar in registreras du automatiskt, enkelt va?!"> 
                    Logga in för första gången!
                    </button>
                    <a href="{{url_for('login')}}" class="btn btn-outline-secondary" id="login-button" title="Logga in!">
                      LOGGA IN
                  </a>
                  
        </div>
    </div>
    <a href="#down" id="down"><!--Pilen som pekar nedåt-->
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
      <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
    </svg></a>
        {% else %}
        <a href="{{url_for('profile_page')}}">Din profil</a>
        
        {% endif %}
    </div> 
    </div>

    
</header>

  <div class="container px-2 py-5 " id="custom-cards">
    

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col" id="down">
        <div class="card card-cover h-100 overflow-hidden text-bg-light rounded-4 shadow-lg" style="background-image: url('https://images.pexels.com/photos/2249528/pexels-photo-2249528.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
                      background-size: cover; 
                       background-position: center;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Upptäck ett nytt sätt att skapa spellistor!</h3>
            
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://images.pexels.com/photos/2249528/pexels-photo-2249528.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Rhythm Roulette</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.pexels.com/photos/1061141/pexels-photo-1061141.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
                       background-size: cover; 
                       background-position: center;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Registrera dig på Rhythm Roulette</h3>
            <!--<ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Malmö</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>4d</small>
              </li>
            </ul>-->
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.pexels.com/photos/2249530/pexels-photo-2249530.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
                        background-size: cover; 
                       background-position: center;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"> Det är enkelt! Är du redo att upptäcka ny musik!? </h3>
            
          </div>
        </div>
      </div>
    </div>
  </div>


    




<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}