<!DOCTYPE html> 
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rhythm Roulette</title>
    <link rel="about" href="#">
    <link rel="about" href="signup.html">
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" type="logotype" href="roulette.png">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Anton&family=Antonio:wght@100..700&family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Gabarito:wght@400..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Tilt+Warp&display=swap" rel="stylesheet">
</head>
<body>
    <div class="grid-container">
    <nav>
        <div class="navbar">
            <a href="index.html" class="w-icon">Rhythm Roulette</a>
            <p>Ett projektarbete på Malmö Universitet</p>
            <ul>
                <li><a href="signup.html">Registrera dig</a></li>
                <li> | </li>
                <li><a href="https://accounts.spotify.com/sv/login?continue=https%3A%2F%2Fopen.spotify.com%2F">Logga in</a></li>
            </ul>
        </div>
    </nav>
    <header class="header">
        <div class="background-video">
            <div class="video-wrapper">
                <video loop muted autoplay playsinline poster="URL/TO/poster.jpg">
                    <source src="hero.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="hero">
            <h1>Rhythm Roulette</h1>
            <p>En webbplats med fokus på musik</p>
            <a href="signup.html" class="btn">Registrera dig för att få helhetsupplevelsen!</a>
        </div>
    </header>
    <section class="container">
        <div class="card" style="width: 18rem;">
            
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn-primary">Go somewhere</a>
            </div>
          </div>
    </section>

    <footer>
        <p>&copy; 2024 Rhythm Roulette Website. All rights reserved. <a href="about.html">Om oss</a></p>
    </footer>
    </div>
</body>
</html>