{% extends "profile_page.html" %}
{% block title %}Get playlist{% endblock %}

{% block content %}
    <h1 class="text-center">
        {{playlist_name}}
    </h1>
    <a class="btn btn-success" href="{{playlist_uri}}">Öppna i Spotify!</a>
    <a class="btn btn-danger" href="{{ url_for('delete_playlist', pl_id=pl_id) }}">Radera spellistan!</a>
    <div class="container">
        <div class="row">
            {% for playlist in playlist_items %}
            <div class="col-4">
                <p class="text-white">Artist: {{playlist['track']['artists'][0]['name']}}  </p>
            </div>

            <div class="col-4">
                <p class="text-white">Track: {{playlist['track']['name']}} </p>
            </div>

            <div class="col-4">
                <p class="text-white">Album:{{playlist['track']['album']['name']}} </p>
            </div>
            <div class="mb-5">
                <img class="album-img" src="{{playlist['track']['album']['images'][0]['url']}}">
            </div>
            
            
        {% endfor %}
        </div>
        
    </div>
{% endblock %}