{% extends "profile_page.html" %}
{% block title %}Get playlist{% endblock %}

{% block content %}
<div class="text-center">
    {% if playlist %}
    <h1 class="display-4 text-white fw-bold">Dina spellistor</h1>
    <ol>
        {% for name, id in playlists %}
        <li><a class="nav_link" href="playlist/{{id}}">{{ name }}</a></li>
        {% endfor %}
    </ol>
    {% else %}
    <h1 class="display-4 text-white fw-bold">Du har inga spellistor än!</h1>
    <a class="btn btn-success" href='generate-playlist'>Skapa din första spellista!</a>
    {% endif %}
</div>
{% endblock %}