{% extends "base.html" %}
{% block title %}Get playlist{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
        <div class="text-center">
            <p class="fw-bold text-white">{{msg}}</p>
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="text-center playlist-box">
        {% if playlist %}
            <h1 id="h1-playlist">Dina spellistor</h1>
            <ol class="playlist_container">
                {% for name, id in playlists %}
                <li class="playlist_list m-3 rounded"><a class=" playlist_link lead display-6" href="{{ url_for('playlist_page', pl_id=id) }}">{{ name }}</a></li>
                {% endfor %}
            </ol>
        {% else %}
            <h1 class="display-4 text-white fw-bold">Du har inga spellistor än!</h1>
            <a class="btn btn-success" href='generate-playlist'>Skapa din första spellista!</a>
        {% endif %}
    </div>
{% endblock %}