{% extends "base.html" %}
{% block title %}Profile page{% endblock %}

    {% block content %}
        <div class="container-fluid text-center" id="profile_page">
            <div class="row">
                <div class="col-md-2 profile-aside">
                    <img src="{{ user_image_url }}" id="user_image" alt="User Image">
                    <p class="p">{{username}}</p>
                    <p class="p">Namn: </p>
                    <p class="p">{{display_name}}</p>
                        {% if current_user == username %}
                        {% if user_bio %}
                            <a class="btn btn-outline-secondary gen-button btn-lg mb-3" href="{{url_for('write_bio')}}">Ändra din bio</a>
                        {% endif %}
                        {% endif %}
                        <div class="col">
                        {% if current_user == username %}
                            <a class="btn  gen-button btn-lg mb-3" href="{{url_for('profile_settings')}}">Inställningar</a>
                        {% else %}
                            {% if not is_friend %}
                            <a class="btn  gen-button btn-lg mb-3" href="{{url_for('add_friend', user_1=current_user, user_2=username)}}">Bli vän med {{username}}!</a>
                            {% else %}
                            <p class="lead">Du och {{username}} är vänner!:D</p>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteBackdrop">Ta bort {{username}} som vän.</button>
                            <div id="modal-div">
                                <div class="modal fade" id="deleteBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                    aria-labelledby="deleteBackdropLabel" aria-hidden="true" data>
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="deleteBackdropLabel">Titta hit!</h1>
                                            </div>
                                            <div class="modal-body">
                                                <p>Du och {{username}} kommer inte längre att vara vänner på Rhythm Roulette. Ni kan adda varandra igen efteråt.</p>
                                                <p class="fw-bold">Är du säker på att du vill ta bort {{username}} som vän?</p>
                                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="modal-button-no">Okejdå vi kan väl vara vänner</button>
                                                <form method="post" action="{{url_for('remove_friend', user_1=current_user, user_2=username)}}" class="hidden-form">
                                                    <input type="hidden" name="extra_submit_param" value="extra_submit_value">
                                                    <button type="submit" name="submit_param" value="submit_value" class="btn btn-danger" id="modal-button-yes">Ja.</button>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% endif %}
                            
                        </div>
                        
                </div>
                <div class="profile-middle col-md-8 py-5">
                    <div id="profile-about" class="mb-5">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for msg in messages %}
                            <div class="text-center">
                                <p class="fw-bold">{{msg}}</p>
                            </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <h1 class="h1"> Om {{ username }}:</h1>
                        {% if user_bio %}
                            <p class="p">{{user_bio}}</p>
                        {% else %}
                            <p class="p">Oj, här var det tomt!</p>
                            {% if current_user == username %}
                            <a class="btn btn-outline-secondary gen-button btn-lg mb-3" href="{{url_for('write_bio')}}">Skriv en bio!</a>
                            {% endif %}
                        {% endif %}
                        <a class="btn btn-success gen-button btn-lg mb-3" href="{{url_for('get_playlist', username=username)}}">Se {{username}}s spellistor!</a>
                    </div>
                    <div id="profile-write" >
                        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" id="comment_user" action="{{url_for('write_comment', user_1=current_user, user_2=username)}}" method="post">
                            <p>Skriv något på {{username}}s webbsida!</p>
                            <input type="text" id="comment" name="comment">
                            <button class="btn btn-secondary" type="submit" name="write-comment" value="submit">Skicka</button>
                        </form>
                    </div>
                    <div id="profile-comments">
                        {% if user_comments %}
                        {% for comment in user_comments %}
                        <p>{{comment[0]}}: {{comment[2]}} {{comment[3]}}</p>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-2 profile-aside">
                    <p class="lead fw-bold">Medlem sedan: </p> 
                    <p class="lead">{{register_date}}</p>
                </div>
        </div>
    {% endblock %}