{% extends "base.html" %}
{% block title %}Profile page{% endblock %}

    {% block content %}
        <div class="container" id="profile_page">
            <div class="row">
                <div class="col-4">
                    <img src="{{ user_image_url }}" id="user_image" alt="User Image">
                    <p class="lead">{{username}}</p>
                    <p class="lead">Namn: </p>
                    <p class="lead">{{display_name}}</p>
                    {% if current_user == username %}
                        <a class="btn btn-secondary m-3" href="{{url_for('profile_settings')}}">Inställningar</a>
                            
                </div>
                <div class="col-4">
                    {%if user_bio %}
                    <p>{{user_bio}}</p>
                    {% else %}
                    <p class="text-white">Oj, här var det tomt!</p>
                    <a class="btn btn-primary" href="{{url_for('write_bio')}}">Skriv en bio!</a>
                    {% endif %}

                </div>
                <div class="col-4">
                    <div>
                        <a class="btn btn-primary m-3" href="{{url_for('get_playlist')}}">Spellistor!</a>
                        <a class="btn btn-primary m-3" href="{{url_for('get_top_artists')}}">Dina toppartister!</a>
                    </div>
                    
                </div>
                    {% endif %}    
            </div> 
        </div>
    {% endblock %}