{% extends "base.html" %}
{% block title %}Settings{% endblock %}

{% block content %}

<div class="container-fluid text-center mt-5 mb-5">
	<div id="pls-stay">
		<h1 class="h1"> Inställningar</h1>
		<img src="https://images.pexels.com/photos/1404819/pexels-photo-1404819.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="cat-delete" alt="cute cat">
		<p class="p">Här kan du välja att radera ditt konto om du önskar. Du är alltid välkommen tillbaka!</p>
		<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteBackdrop">Radera kontot</button>


	</div>

<div id="modal-div">
	<div class="modal fade" id="deleteBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="deleteBackdropLabel" aria-hidden="true" data>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="deleteBackdropLabel">Titta hit!</h1>
				</div>
				<div class="modal-body">
					<p>När du raderar kontot kommer datan försvinna från den här hemsidan. Spellistor du skapat
						ligger fortfarande kvar på ditt Spotifykonto.</p>
					<p class="fw-bold">Är du säker på att du vill lämna oss?</p>
					<button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="modal-button-no">Nej jag stannar!</button>
					<form method="post" action="delete-profile" class="hidden-form">
						<input type="hidden" name="extra_submit_param" value="extra_submit_value">
						<button type="submit" name="submit_param" value="submit_value" class="btn btn-danger" id="modal-button-yes">Japp!</button>
					</form>
				</div>
				<div class="modal-footer">
					
				</div>
			</div>
		</div>
	</div>
</div>

</div>
{% endblock %}