{% extends "base.html" %}
{% block title %}Recommendations{% endblock %}

{% block content %}
<div class="container d-flex reccos">
    <div class="col-md-10 mx-auto col-lg-5 ">
        <form class="p-4 p-md-5 border rounded-3" id="recco-box" action="#" method="post">
            <div class="form-floating mb-3">
                <p class="lead text-secondary fw-bold text-center">Välj genres!</p>
                <div>
                    <h1 class="display-5 text-center text-white">Generera en spellista!</h1>
                    <p class="lead text-white">Välj upp till 5 genres:</p>
                    {% for recco in recco_list['genres'] %}
                    <div class="form-check form-switch switch">
                        <input type="checkbox" class="form-check-input mb-3 genre-checkbox proanalysecheck"
                            id="{{ recco }}" name="genres" value="{{ recco }}">
                        <label for="{{ recco }}" class="lead fw-bold mb-2">{{ recco }}</label><br>
                    </div>
                    {% endfor %}
                    <div>
                        <p class="display-7 text-secondary">Hur många låtar vill du generera?</p>
                        <input type="range" name="recco_limit" id="recco_limit" value="24" min="1" max="100"
                            oninput="this.nextElementSibling.value = this.value" >
                        <output>24</output>
                    </div>
                </div>
            </div>
            <button class="w-100 btn btn-lg text-white" id="search_value" type="submit" value="submit">Skapa!</button>
            <hr class="my-4">
        </form>
    </div>
</div>
{% endblock %}