{% extends "base.html" %}
{% block title %}Search{% endblock %}

{% block content %}
<div class="users">
<form class="p-4 p-md-5" id="search_user" action="users" method="post">
    <p class="p">Sök efter användare!</p>
    <div class="input-group input-group-lg">
        
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" id="search_user" name="search_user">
        <button class="btn btn-success" type="submit" value="submit">Sök!</button>  
    </div>
    
</form>
</div>
{% endblock %}