{% extends "base.html" %}
{% block title %}Recommendations{% endblock %}
{% block content %}

<div class="container m-5 d-flex">
    <div class="col-md-10 mx-auto col-lg-5 ">
        <form class="p-4 p-md-5 border rounded-3 bg-secondary " id="searches" action="#" method="post">
        <div class="form-floating mb-3">
            <p class="lead text-secondary fw-bold text-center">Välj Årtal!</p>
            <div>
                <h1 class="display-5 text-center text-white">Generera en spellista!</h1>
                <p class="lead text-white">Kryssa i de årtal du vill ha i din spellista:</p>

                {% for decade in decades %}
                <div class="form-check form-switch">
                    <input type="checkbox" class="form-check-input mb-3 genre-checkbox proanalysecheck" id="{{ decade }}" name="decades" value="{{ decade }}"> 
                    <label for="{{ decade }}" class="lead fw-bold mb-2">{{ decade }}</label><br>
                </div>
                {% endfor %}

                <div>
                    <p class="display-7">Hur många låtar vill du generera?</p>
                    <input type="range" name="recco_limit" id="recco_limit" value="24" min="1" max="100" oninput="this.nextElementSibling.value = this.value">
                    <output>24</output>
                </div>
            </div>
        </div>
        <button class="w-100 btn btn-lg btn-primary" id="save_value" type="submit" value="submit">Skapa!</button>
        <hr class="my-4">
        </form>
    </div>
</div>  

{% endblock %}
