<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <title>Rhythm Roulette</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="signup.css">
    </head>
    <body>
         <form action="/register" method="POST">
            <div class="container">
              <h1>Registrering</h1>
              <label for="email"><b>Email</b></label>
              <input type="text" placeholder="Email här" name="email" id="email" required>

              <label for="psw"><b>Lösenord</b></label>
              <input type="password" placeholder="**********" name="psw" id="psw" required>
          
              <label for="psw-repeat"><b>Ange lösenord igen</b></label>
              <input type="password" placeholder="**********" name="psw-repeat" id="psw-repeat" required>
          
              <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
              <button type="submit" class="registerbtn">Register</button>
            </div>
            <div class="container signin">
              <p>Har du redan ett konto? <a href="https://accounts.spotify.com/sv/login?creation_point=https%3A%2F%2Finternetmuseum.se%2F%3Fsp_cid%3D1d0d49ef60cff10962ab233f6105b5ae%26device%3Ddesktop&continue=https%3A%2F%2Fopen.spotify.com%2F%3Fflow_ctx%3D2d3c9948-0030-4883-9aab-bd310b07c15d%253A1711573736&flow_ctx=2d3c9948-0030-4883-9aab-bd310b07c15d%3A1711573736&_gl=1*oa3jtr*_gcl_au*MTE5MzE1MDAzOS4xNzExNTMyOTAz">Logga in</a>.</p>
            </div>
          </form>
          <footer>
            
          </footer>
    </body>
</html>