{% extends "profile_page.html" %}
{% block title %}Top Artists{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
        <div class="text-center">
            <h1 class="fw-bold">{{msg}}</h1>
        </div>
        {% endfor %}
    {% endif %}
        <h1 class="text-center fw-bold">Här är dina toppartister!</h1>
        {% for artist in artists %}
            <p class="lead text-center">{{ loop.index0 + 1 }}. {{artist['name']}}</p>
        {%endfor%}
    {% endwith %}
{% endblock %}